<%- include('partials/header.ejs') %>



<!-- body -->
<header>


    <h2 class="product_price" style="margin:5px 0">Products</h2>
    <p>Searching: </p>
    <form action="/products" method="GET">
        <input type="text" name="title" id="title" value="<%= value %>">

        <button type="submit">Search</button>
    </form>

    <div class="container" id="container" style="padding: 10px">
    <% products.forEach(product => { %>
        <div style="width: 200px;">
            <a href="/products/<%= product._id %>" style="text-decoration: none;color: black">
            <img src="/products/<%= product.imagePath %>" height="150" width="100" alt="">
            <p><%= product.title %> || <%= product.price %></p>
            </a>
        </div>
    <% }) %>
    </div>
    <a href="/products/add">Add product</a>

    

</header>

<%- include('partials/footer.ejs') %>